.sidebar_section_link::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    background: rgba(255, 255, 255, 0.7);
    width: 5px;
    height: 5px;
    z-index: 10;
    border-radius: 50%;
    transition: all .3s cubic-bezier(0.5,-1,0.5,1);
}

.sidebar_section_link.active::before{
    background: transparent !important;
    width: 1.75rem;
    height: 1.75rem;
    border: 1px dashed rgba(255, 255, 255, 1);
    position: absolute;
    top: -10%;
    right: -8%;
}

@media (max-width: 1024px) {
    .sidebar_section_link::before{
        display: none;
    }
    .sidebar_section_link.active::before{
        background: transparent !important;
        width: 2rem;
        height: 2rem;
        border: 1px dashed rgba(255, 255, 255, 1);
        position: absolute;
        top: -10%;
        right: unset;
        left: -80%;
        display: block;
    }
}